{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">留下你的评论</h5>
                    <form action="{{ url_for('add_comment', article_id=article.id) }}" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" name="comment" rows="3" placeholder="在此书写"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}